In [12]:
import pandas as pd

df = pd.read_csv('equipos.csv')

df

                              Nombre           Carrera
0       Oscar Daniel Senday Bejarano      Ing. Química
1        Juan Antonio Moreno Esparza     Ing. Mecánica
2                 Isaúl Tirado López            Físico
3       Jesus Antonio Flores Briones               LCC
4     Gabriel Santiago Robles Robles               LCC
5        José Diego Cazares Minjares          Finanzas
6      Jehu Jonathan Ramirez Ramirez               LCC
7     Miguel Ángel Guerrero Espinoza            Físico
8       Mario Alejandro Castro Lerma               LCC
9            Joel Alfonso Perez Diaz            Físico
10      Francisco Manuel Ortega Soto      Ing. Química
11          Esthefania Ortega Tanori  Ing. Mecatrónica
12     Brayan Alexis Ramirez Camacho            Físico
13             Marcel Herrera Rendón            Físico
14          LUIS ANGEL NORIEGA OCHOA  Ing. Mecatrónica
15          Kevin Manuel Galvan Lara           Biólogo
16  Javier Alejandro Alonso Mosquera      Ing. Química

In [11]:
df['Carrera'].value_counts()

Carrera
Físico              5
LCC                 4
Ing. Química        3
Ing. Mecatrónica    2
Ing. Mecánica       1
Finanzas            1
Biólogo             1
Name: count, dtype: int64

La propuesta es 5 equipo, 3 equipos con 3 personas y 2 equipos con 4 personas.

Tres equipos con:
- 1 Física, 1 LCC, 1 Ing. Química 

Un equipo con 
- 1 Física, 1 LCC, 1 Ing. Mecatrónica, 1 Biólogía

Un equipo con:
- 1 Física, 1 Ing. Mecatrónica, 1 Ing. Mecánica y 1 Finanzas

In [19]:
LF = df.loc[df['Carrera'] == 'Físico', 'Nombre']

LF.sample(5)

12     Brayan Alexis Ramirez Camacho
2                 Isaúl Tirado López
7     Miguel Ángel Guerrero Espinoza
9            Joel Alfonso Perez Diaz
13             Marcel Herrera Rendón
Name: Nombre, dtype: object

In [25]:
LCC = df.loc[df['Carrera'] == 'LCC', 'Nombre']
LCC.sample(4)

3      Jesus Antonio Flores Briones
6     Jehu Jonathan Ramirez Ramirez
8      Mario Alejandro Castro Lerma
4    Gabriel Santiago Robles Robles
Name: Nombre, dtype: object

In [29]:
IQ = df.loc[df['Carrera'] == 'Ing. Química', 'Nombre']
IQ.sample(3)

16    Javier Alejandro Alonso Mosquera
10        Francisco Manuel Ortega Soto
0         Oscar Daniel Senday Bejarano
Name: Nombre, dtype: object

In [32]:
IM = df.loc[df['Carrera'] == 'Ing. Mecatrónica', 'Nombre']
IM.sample(2)

14    LUIS ANGEL NORIEGA OCHOA
11    Esthefania Ortega Tanori
Name: Nombre, dtype: object